<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Meowth</key>
	<string>meowth</string>
	<key>Eevee</key>
	<string>eevee</string>
	<key>Pidgey</key>
	<string>pidgey</string>
	<key>Squirtle</key>
	<string>squirtle</string>
	<key>Charmander</key>
	<string>charmander</string>
	<key>Bullbasaur</key>
	<string>bullbasaur</string>
	<key>Psyduck</key>
	<string>psyduck</string>
	<key>Snorlax</key>
	<string>snorlax</string>
	<key>Pikachu</key>
	<string>pikachu</string>
	<key>Pokeball</key>
	<string>pokeball</string>
</dict>
</plist>
